# Lanzamiento de dos dados

## Diccionarios:

$$\{\text{key}:\text{values}\}.$$

In [ ]:
d = {"César": ["Masha", "Mila", "Sneg"],  #crea un dicccionario llamado d 3 keys llamados cesar, julio y gal,  cada clabe tiene uina list de elementos
     "Julio": [3, 10, 12],
     "Gal": [7.0, 5.0, 6.0]}

In [ ]:
type(d)   #indica que d es de tipo diccionario

dict

In [ ]:
d.keys() # Son las llaves de un diccionario

dict_keys(['César', 'Julio', 'Gal'])

In [ ]:
type(d.keys())  #clave de un diccionario

dict_keys

In [ ]:
list(d.keys())[0] # muestra un elemeno de la lista de una key

'César'

In [ ]:
d.values() #muestra los valores que itene el diccionario d

dict_values([['Masha', 'Mila', 'Sneg'], [3, 10, 12], [7.0, 5.0, 6.0]])

In [ ]:
t = list(d.items()) #genera una lista de tuplas
t[0]
type(t[0])

tuple

## Se lanzan dos dados justos:

- $\Omega = \{1,2,3,4,5,6\}\times \{1,2,3,4,5,6 \}$.
- $\mathcal{F}=p(\Omega)$.
- Para $\omega=(i,j)$ donde $i, j=1,\dots, 6$
$$\mathbb{P}(\{\omega\})=\frac{1}{36}.$$

-----

## Vamos a definir a la siguiente variable aleatoria:
$S$ es la variable aleatoria que cuenta la suma de las caras de los dados.

$$S:\Omega \to R_{S}=\{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 \}$$

Para entender a la ley de la variable aleatoria, basta con entender a los siguientes datos:
$$\{(k, \mathbb{P}(S=k)) \}_{k\in R_{S}}.$$

Veamos a $S$ como eventos. Sea $S_{n}$ el evento la suma de las caras es $n$.

In [ ]:
from itertools import product   #genera el producto cartesiano de los iterables que le pases.
from fractions import Fraction  #permite representar y operar con números racionales exactos (fracciones)

In [ ]:
def P(A, Omega): #funcion para subconjunto de eventos y el espacio muestral con omega
  P = Fraction(len(A), len(Omega) ) #calcula la probabilidad de la fracción exacta
  return P

$$S_{n}=\{(i,j)\in \Omega : i+j =n \}$$

In [ ]:
S_2 = {(i,j) for i in range(1,7) for j in range(1,7) if i+j == 2 } #genera todos los resultados posibles de lanzar dos dados cuya suma sea 2.
S_2

{(1, 1)}

In [ ]:
L = [i for i in range(1,7)] #crea una lista del 1 al 6

Omega = set(product(L, repeat =2 )) #ara generar el producto cartesiano L×L, es decir, todas las combinaciones posibles de lanzar dos dados, ordenadas.
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [ ]:
S = {(i,j): i+j for i,j in Omega} #sirbe para consultar la suma de los dados del resultado i,j

S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [ ]:
from collections import defaultdict #s una subclase de diccionario (dict) que crea automáticamente un valor por defecto cuando accedes a una clave que no existe

dS = defaultdict(set) #Te permite agrupar elementos fácilmente sin tener que verificar si la clave ya existe o no
dS

defaultdict(set, {})

In [ ]:
S.items() #devuelve una vista de todos los pares clave-valor del diccionario S del lanzamiento de dos dados

dict_items([((3, 4), 7), ((4, 3), 7), ((3, 1), 4), ((5, 4), 9), ((4, 6), 10), ((5, 1), 6), ((2, 2), 4), ((1, 6), 7), ((2, 5), 7), ((1, 3), 4), ((6, 2), 8), ((6, 5), 11), ((4, 2), 6), ((4, 5), 9), ((3, 3), 6), ((5, 6), 11), ((3, 6), 9), ((5, 3), 8), ((2, 4), 6), ((1, 2), 3), ((2, 1), 3), ((1, 5), 6), ((6, 1), 7), ((6, 4), 10), ((3, 2), 5), ((4, 1), 5), ((3, 5), 8), ((5, 2), 7), ((4, 4), 8), ((5, 5), 10), ((1, 1), 2), ((1, 4), 5), ((2, 3), 5), ((2, 6), 8), ((6, 6), 12), ((6, 3), 9)])

In [ ]:
for l, v in S.items():
  dS[v].add(l) #en cada par agrega una tupla

In [ ]:
dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [ ]:
dS.items() #de todos los pares clave-valor del diccionario dS

dict_items([(7, {(3, 4), (4, 3), (6, 1), (1, 6), (2, 5), (5, 2)}), (4, {(3, 1), (1, 3), (2, 2)}), (9, {(4, 5), (5, 4), (6, 3), (3, 6)}), (10, {(4, 6), (6, 4), (5, 5)}), (6, {(2, 4), (1, 5), (5, 1), (4, 2), (3, 3)}), (8, {(4, 4), (6, 2), (2, 6), (5, 3), (3, 5)}), (11, {(5, 6), (6, 5)}), (3, {(1, 2), (2, 1)}), (5, {(2, 3), (3, 2), (4, 1), (1, 4)}), (2, {(1, 1)}), (12, {(6, 6)})])

In [ ]:
leyS = {k : P(A,Omega) for k , A in dS.items() } #Para cada suma k, calculas la probabilidad de ese evento usando la función P(A, Omega)
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

## Introducción a pandas.

In [ ]:
import pandas as pd #importa libreria pandas

In [ ]:
leyS = pd.Series(leyS)   #convierte el diccionario leyS en un dataframa

In [ ]:
leyS

7      1/6
4     1/12
9      1/9
10    1/12
6     5/36
8     5/36
11    1/18
3     1/18
5      1/9
2     1/36
12    1/36
dtype: object

### Ejercicios:
1.- Documenta tu colab.

2.- Calcula la ley de las siguientes variables aleatorias:

1.          - La diferencia de las caras sea mayor que $1$.

    - La suma de las caras sea par.

3.- Verifica, en cada caso, que $$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

4.- Sube tu notebook a tu GitHub.

In [ ]:
LeyS2= {(i, j) for i, j in Omega if abs(i - j) > 1} #La diferencia de las caras sea mayor que  1
LeyS2

{(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4)}

In [ ]:
LeyS_par = {(i, j) for i, j in Omega if (i + j) % 2 == 0}
LeyS_par

{(1, 1),
 (1, 3),
 (1, 5),
 (2, 2),
 (2, 4),
 (2, 6),
 (3, 1),
 (3, 3),
 (3, 5),
 (4, 2),
 (4, 4),
 (4, 6),
 (5, 1),
 (5, 3),
 (5, 5),
 (6, 2),
 (6, 4),
 (6, 6)}